body{margin:0px;padding: 0px;line-height:1;font-family:"宋体";font-size: 14px}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;}
ul,ol{list-style: none}
a{text-decoration: none;color:#000;}
img{border:none;}
.clear{clear:both}